<!-- <div class="container mt-3">
    <table>
        <thead>
            <th>
                <tr></tr>
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let r of reservationList">
                <td>{{r.client.nom}}</td>
                <td>{{r.sceance.filmAssocie.nom}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- <div class="container mt-3">
    <div class="col-12 col-md-6">
        <h2>Ajouter une réservation</h2>
        <form th:action="@{/reservation/add}" th:object="${reservation}" method="post">
            <label for="browser" class="form-label">Choisissez la Scéance:</label>
            <select id="sceance_holder" class="form-select" th:field="*{sceance}">
  <option th:value="${sceance.sceanceId}" th:each="sceance : ${lstSceance}" th:text="|${sceance.filmAssocie.nom} ${sceance.horaireSceance}|"  />
  </select>
            <label for="browser" class="form-label">Choisissez le client :</label>

            <span th:if="${#fields.hasErrors('client')}" th:errors="*{client}"></span>
            <select id="client_holder" class="form-select" th:field="*{client}">
  <option th:each="client : ${lstClient}"th:text="${client.nom}" th:value=${client.clientId} />
  </select>
            <label for="browser" class="form-label">Choisissez le nombre de places :</label>
            <input class="form-control" type="number" id="nbPlace" th:field="*{nombrePlaces}" />
            <button type="submit" class="btn btn-primary mt-3">Confirmer</button>
        </form>
    </div>
</div> -->


<div class="container mt-3 ">
    <div class="col-12 col-md-6">
        <h2>Ajouter une réservation</h2>
        <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
            <label for="browser" class="form-label">Choisissez la Scéance:</label>
            <select name="sceanceSelect" class="form-select" [(ngModel)]="sceanceSelect">
              <option value=0>--- Scéance à sélectionner ---</option>
            <option *ngFor="let s of sceanceList" value="{{s.sceanceId}}" >{{s.filmAssocie.nom}} {{s.horaireSceance}}</option>
            </select>
            <label for="browser" class="form-label">Choisissez le client :</label>
            <select name="clientSelect" class="form-select" [(ngModel)]="clientSelect">
              <option value=0>--- Client à sélectionner ----</option>
              <option *ngFor="let c of clientList" value="{{c.clientId}}" >{{c.nom}}</option>
              </select>
            <label for="browser" class="form-label">Choisissez le nombre de places :</label>
            <input class="form-control" type="number" name="nbPlace" [(ngModel)]="nbPlaces" />
            <button type="submit " class="btn btn-primary mt-2">Soumettre</button>
        </form>
    </div>
</div>