<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meilleureVente</title>
</head>

<body>
    <div th:fragment="meilleureVente" class="card align-items-stretch" style="min-height: 332px;">
        <!--TODO : Modifier controller pour récuperer la meilleure vente -->
        <div th:each="sceance,eachStatus : ${lstSceancePlaceNP}">
            <div th:if="${eachStatus.index==8}">
                <img class="img-fluid" th:src=${sceance.filmAssocie.lienImg}>
                <div class=" p-3 border bg-light" style="min-height: 255px;">
                    <h1>Meilleure vente</h1>
                    <p th:text=${sceance.filmAssocie.nom}></p>
                    <p th:text="${sceance.horaireSceance}"></p>
                </div>
                <div class=" card-body d-flex flex-column">
                    <a type="button" class="btn btn-primary mt-auto align-self-start" th:href="|/show/${sceance.filmAssocie.film_id}|">Plus d'info</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>